<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.clacksdepartment.hype" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <!--android:theme="@style/AppTheme"-->

    <application
        android:allowBackup="true"
        android:icon="@drawable/popcorn_circulo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:hardwareAccelerated="true">

        <activity
            android:name="com.clacksdepartment.hype.MainActivity"
            android:label="Hype!"
            android:screenOrientation="portrait" >
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>

        </activity>

        <activity android:name="com.clacksdepartment.hype.SettingsActivity" >
            <!--Default Intent Filter-->
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>

        </activity>
        <activity android:name=".CollectionDemoActivity" android:label="@string/demo_collection" />

        <activity android:name="com.clacksdepartment.hype.MainActivity2" >
            <!--Default Intent Filter-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>

        </activity>
        <activity android:name=".SearchableActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
    </application>

</manifest>